<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Landmarks App!!!!!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
    <img src="https://www.rockymtnrefl.com/YavapaiPointcd73034.jpg" alt="panoramic image of the Grand Canyon as seen from Yavapai Point">
    <!-- Here is where the selected erb will be rendered -->
    <%= yield %>
  </body>
</html>
