<form class="landmark-form" action="/landmarks" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="e.g. Eiffel Tower">
  <label for="location">Location:</label>
  <input type="text" name="location" placeholder="e.g. Paris, France">
  <label for="max_capacity">Max Capacity:</label>
  <input type="number" name="max_capacity" placeholder="e.g. 1000">
  <input type="submit" value="Create Landmark">
</form>
