<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Landmarks App!!!!!</title>
  </head>
  <body>
    <img src="https://image.shutterstock.com/image-vector/eiffel-tower-logo-icon-old-260nw-582896821.jpg" alt="app logo: black silhouette of Eiffel Tower">
    <%= yield %>
  </body>
</html>
