h3 {
  color: fuchsia;
}

.subhead {
  border-bottom: 2px solid #000;
}

header {
  background-color: pink;
  height: 45px;
}

header h1 {
  display: inline;
  float: left;
  margin-top: 0px;
}

header a {
  float: right;
}

.main-content {
  clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10px;
}
