<p><a href="/landmarks/new">Make a New Landmark</a></p>
<p><a href="/visits/new">Reflect on a Landmark Visit - Did you bring a book? ;-)</a></p>
<br>
<% @landmarks.each do |landmark| %>
  <div class="landmark-info">
    <p><a href="/landmarks/<%= landmark.id %>">Visit <%= landmark.name %>!!</a></p>
    <p>Located at <%= landmark.location %></p>
    <p>Max capacity: <%= landmark.max_capacity %></p>
  </div>
  <br>
  <br>
<% end %>
